@import "tailwindcss";
/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --text-2xs: 0.625rem;
  --text-3xs: 0.5625rem;

  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 1800px;
  --breakpoint-4xl: 2100px;

  --color-custom-pink: #ff0080;
  --color-custom-blue: #0070f3;
  --color-custom-cyan: #50e3c2;
  --color-custom-orange: #f5a623;
  --color-custom-violet: #7928ca;

  --animate-rerender: rerender 1s ease-in;
  --animate-highlight: highlight 1s ease-in;

  @keyframes rerender {
    0% {
      border-color: var(--color-custom-pink);
    }
    20% {
      border-color: var(--color-custom-pink);
    }
  }

  @keyframes highlight {
    0% {
      background-color: var(--color-custom-pink);
      color: var(--color-white);
    }
    20% {
      background-color: var(--color-custom-pink);
      color: var(--color-white);
    }
  }
}

@utility no-liga {
  font-variant-ligatures: no-common-ligatures;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-neutral-300 dark:border-neutral-900;
  }

  body {
    @apply bg-neutral-100 text-neutral-900;
    @apply dark:bg-neutral-950 dark:text-neutral-200;
    @apply no-liga tabular-nums;
  }

  [data-container] {
    @apply w-full;
    @apply max-w-(--breakpoint-xl) 2xl:max-w-(--breakpoint-2xl) 3xl:max-w-(--breakpoint-3xl) 4xl:max-w-(--breakpoint-4xl);
    @apply mx-auto;
    @apply px-0 lg:px-12;
  }

  [data-grid] {
    @apply grid;
    @apply grid-cols-6 lg:grid-cols-12;
    @apply gap-x-3;
  }

  .scroll-hidden::-webkit-scrollbar {
    @apply h-0 w-0;
    @apply hidden;
  }

  .scroll-hidden::-webkit-scrollbar-thumb {
    @apply hidden;
  }
}
